*.el filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
graphs/simple.el -filter=lfs -diff=lfs -merge=lfs -text
graphs/sample_wmd1.csv -filter=lfs -diff=lfs -merge=lfs -text
graphs/sample_wmd.csv -filter=lfs -diff=lfs -merge=lfs -text
graphs/repeats.el -filter=lfs -diff=lfs -merge=lfs -text
*.ok filter=lfs diff=lfs merge=lfs -text
ok/ifstream.ok -filter=lfs -diff=lfs -merge=lfs -text
ok/repeats.el-import-dirOptCsrList-10.ok -filter=lfs -diff=lfs -merge=lfs -text
ok/simple.el-import-csrlist-10.ok -filter=lfs -diff=lfs -merge=lfs -text
docker/*.tar.gz filter=lfs diff=lfs merge=lfs -text
